

.wrapper >* {
    text-align: center;
    font-weight: 500;
}

.leftButton {
    padding: 15px 50px;
    margin-right: 25px;
    color: var(--white);
    background-color: var(--lightGreen);
}

.rightButton {
    padding: 13px 50px;
    color: var(--red);
    border: 2px solid var(--red);
}


.rightButton:disabled {
    padding: 13px 50px;
    color: var(--grey);
    border: 2px solid var(--grey);
}