.listItem {
    position: relative;
    padding-left: 23px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;    
}
.listItem::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--red);
}

