.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 80px;
    -webkit-box-shadow: 0px 14px 19px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 14px 19px 8px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 14px 19px 8px rgba(34, 60, 80, 0.2);
    
}